<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEzeCuEle</title>
</head>
<body style="padding: 0; margin: 0; display: flex; flex-direction: row; min-height: screen;">   
    <div class="sideBar" >
        <form action="" onchange="renderSideBar(event.target.value)">
            <select name="" id="">
                <% info.dbs.forEach(element => {%>
                    <option><%=element.database%></option>
                <%}); %>
            </select>
        </form>
        <div class="tablesDisplay"></div>
    </div>
    <main style="display:inline-flex; width: 100%; flex-direction: column;">
        <div style="display: flex; flex-direction: column;">
            <% if (info.error) { %>
            <div style="display: flex; background-color: rgb(255, 112, 112); margin:10px; border-radius: 16px; padding:4px;">
                <h1><%- info.error %></h1>
            </div>
            <% } %>
            <div class="query" style="display:flex; justify-content: center; align-items: center; background-color: wheat; min-height: 60vh;">
                <form method="post">
                    <input type="text" name="query" placeholder="Escribir consulta acá...">
                    <button>Query</button>
                </form>
            </div>
            <div style="display: flex; flex-direction: column; width: 100%; align-items: center;">
                <% if (info.result) { %>
                <% if (info.result[0].fieldCount != 0) { %>
                    <table style="width: 90%;">
                        <tr>
                            <th style="width: 5vh;"></th>
                            <% for (var i = 0; i < info.result[1].length; i++) { %>
                                <th><%= info.result[1][i].name %></th>
                            <% } %>
                        </tr>
                        <% for (var i = 0; i < Object.values(info.result[0]).length; i++) { %>
                            <tr>
                                <td style="text-align: center;"><%= i %></td>
                                <% for (var j = 0; j < Object.values(info.result[0][i]).length; j++) { %>
                                    <td><%= Object.values(info.result[0][i])[j] %></td>
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
                <% } %>
                <% } %>
            </div>
        </div>
    </main>


<style>
    /* Tablas */
    th{
        background-color: #E5E1DA; 
    }
    tr{
        background-color: antiquewhite;
    }
    table{
        background-color: gray;
    }
    input{
        color: rgb(110, 102, 102);
        border-radius: 16px;
    }
    .sideBar{
        border: 2px ;
        border-color:gray;
        border-style: solid;
        position: sticky;
        min-width: screen;
    }
    .selectDb{
        height: 8vh;
        text-align: center;
    }
    .selectDb>option{
        border-radius: 0px;
    }
    @keyframes scalar {
  from {
    transform: scale(1,1);
  }
  to {
    transform: scale(1.6,1.3);
  }
}
</style>
<script>
    //         `
        function renderSideBar(database){
            <%
            let arr = JSON.stringify(info.dbs)%>
            '<%-arr%>'
            const info = JSON.parse('<%-arr%>')
            const index = info.findIndex((el)=>el.database == database)

        const $tablesDisplay = document.querySelector(".tablesDisplay")
        const $tables = document.createElement("div")
        $tablesDisplay.innerHTML = ""
        info[index].tables.forEach(table => {
            const $table = document.createElement("div")
            $table.innerText = table
            $tables.appendChild($table)
        });
        $tablesDisplay.appendChild($tables)
    }
    
    // const dD = document.querySelectorAll('.DatabaseDropdown')
    // dD.forEach((element,key) => {
    //     element.addEventListener(('click'),e=>
    // {
    //         if (e.target.getAttribute('open') == 'true'){
    //             e.target.setAttribute('open','false')
    //         }else{
    //                     e.target.setAttribute('open','true')
    //                 }
    // })})
</script>
</html>