<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiEzeCuEle</title>
</head>
<body>
    <%if (info.error){%>
        <%=info.error%>
        <%} else{%>
            <h1>Bienvenido, <%=info.connection.config.user%></h1>
            Seleccionar Base de Datos
    <form method="post">
        <select name="database" id="" >
            <% for (var i = 0; i < info.dbs[0].length; i++) { %>
                <option value=<%=info.dbs[0][i].Database%>><%=info.dbs[0][i].Database%></option>
              <% } %>
            </select>
            <input type="text" name="query" id="" value="SHOW TABLES">
            <button>Ver</button>
    </form>
    <%}%>
    
    <%if (info.result){%>
        <%=info.result[0]%>
        <%}%>
    <%if (true) { console.log("coshendo")}%>
    <form  method="get">    
        <button type="submit" value="logout" name="session" onclick="window.location.href='localhost:300'" >Cerrar Sesión</button>
    </form>
</body>
<style>
    body{
        background-color: rgb(177, 166, 166)
    }
</style>
</html>